body {
  padding: 0px;
  margin: 0px;
  margin-top: -15px;
  margin-left: 20px;
  margin-right: 20px;
}
.checkbox {
  width: 15px;
  border: 1px solid black;
  height: 15px;
  margin-right: 5px;
}
.topContainer {
  width: 100%;
  display: flex;
  .logo {
    width: 30%;
  }
  .custCraftCont {
    margin-top: 30px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    .custCont {
      width: 100%;
      display: flex;
      .customer {
        width: 42%;
        padding-right: 0px;
      }
      .alternate {
        width: 38%;
      }
      .input {
        width: 50%; 
        border-bottom: 2.5px solid black;
        height: 1px;
      }
    }
  }
}

.secondContainer {
  display: flex;
  align-items: center;
  .servicePath {
    width: 45%;
    padding: 5px;
    border: 2.5px solid black;
    font-size: .8rem;
    .title {
      text-align: center;
      margin: 5px;
    }
    .checklistCont {
      .checkCont {
        display: flex;
        flex-wrap: wrap;
        .fas {
          display: flex;
          width: 5%;
          padding-right: 5px;

        }
        .listItem {
          width: 90%;
          margin: 0px;
          padding: 0px;
        }
      }
    }
  }
  .times {
    border-spacing: 0px;
    margin: 10px;
    border: 2px solid black;
    th,td {
      font-size: 1.2rem;
      border: 1.4px solid black;
      text-align: center;
    }
  }
}

.thirdContainer {
  border: 2.5px solid black;
  margin-top: 5px;
  .boxTitle {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: .8rem;
    .far {
      padding-right: 10px;
      padding-left: 5px;
    }
    h2 {
      margin: 5px;
    }
  }
  .checkList {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5px;
    .itemCont {
      font-size: 1.3rem;
      display:flex;
      width: 45%;
      p {
        padding: 0px;
        padding-bottom: 5px;
        margin: 0px;
        font-size: 1rem;
      }
    }
    .altCont {
      font-size: 1rem;
      display:flex;
      flex-wrap: wrap;
      align-items: center;
      width: 45%;
      p {
        padding: 0px;
        margin: 0px;
      }
      .side {
        margin-left: 23px;
        font-size: .8rem;
        line-height: 0px;
      }
    }
  }
  .paymentInfo {
    .paymentContent {
      margin: 4px;
      margin-left: 6px;
      font-size: 1.2rem;
    }
  }
  .paymentCheckList {
    display: flex;
    align-items: center;
    margin-left: 6px;
    .checkbox {
      margin-right: 20px;
    }
    .paymentItemTitle {
      margin: 0px;
      font-size: 1.2rem;
      width: 20%;
    }
    .paymentItem {
      margin: 2px;
      font-size: .9rem;
      margin-right: 15px;
      .far {
        margin-right: 5px;
      }
    }
  }
  .notes {
    padding-bottom: 4px;
    .line {
      border-bottom: 1px solid black;
      height: 6px;
      margin-top: 0px;
    }
  }
}

.officeUse {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  font-size: .85rem;

  p {
    margin: 0px;
    margin-right: 2px;
    margin-left: 2px;
  }
}
