head
  script(src="https://kit.fontawesome.com/7fe8297e16.js" crossorigin="anonymous")
style
  include:scss styles.scss

div.topContainer
  img.logo(src='./handyman.jpeg')
  div.custCraftCont
    div.custCont
      label.customer CUSTOMER (First & Last Name):
      p.input
    div.custCont
      label.customer Lead CM Name:
      p.input
    div.custCont
      div.checkbox
      label.alternate Multiple Craftsmen:
      p.input
div.secondContainer
    div.servicePath
      h2.title SERVICE PATH
      div.checklistCont
        div.checkCont
          i.fas.fa-check
          p.listItem Call evening before, adding notes in app
        div.checkCont
          i.fas.fa-check
          p.listItem Click #[strong ON MY WAY]
        div.checkCont
          i.fas.fa-check
          p.listItem Be early or at least On-Time 
        div.checkCont
          i.fas.fa-check
          p.listItem Click #[strong START APPOINTMENT]
        div.checkCont
          i.fas.fa-check
          p.listItem Use AHS Approach & Shoe Covers
        div.checkCont
          i.fas.fa-check
          p.listItem Confirm project & #[strong Get Signatures] on Estimate & Win Estimate to create Invoice
        div.checkCont
          i.fas.fa-check
          p.listItem Before Picture 
        div.checkCont
          i.fas.fa-check
          p.listItem Complete Job & Clean up
        div.checkCont
          i.fas.fa-check
          p.listItem After Picture
        div.checkCont
          i.fas.fa-check
          p.listItem Ask if 100% Complete
        div.checkCont
          i.fas.fa-check
          p.listItem #[strong Get Signature] on Invoice & #[strong Collect Payment]
        div.checkCont
          i.fas.fa-check
          p.listItem Click #[strong COMPLETE APPOINTMENT]
        div.checkCont
          i.fas.fa-check
          p.listItem Say "Thank You for Choosing Ace Handyman Services," ask fro Review, & remind the customer to request you by name next time
    table.times
      tr
        th DATE
        th TIME IN
        th LUNCH OUT
        th LUNCH IN
        th TIME OUT
        th BILLABLE HOURS
        th NB HOURS
      tr
        td /
        td
        td
        td
        td
        td
        td
      tr
        td /
        td
        td
        td
        td
        td
        td
      tr
        td /
        td
        td
        td
        td
        td
        td
      tr
        td /
        td
        td
        td
        td
        td
        td
      tr
        td /
        td
        td
        td
        td
        td
        td
div.thirdContainer
  div.boxTitle
    i.far.fa-circle
    h2.title CONSULTATION
  div.checkList 
    div.itemCont
      div.checkbox
      p.item Free Estimate
    div.itemCont
      div.checkbox
      p.item Craftsman Sent Estimate to Customer
    div.itemCont
      div.checkbox
      p.item Consultation Fee Collected
    div.itemCont
      div.checkbox
      p.item Office Needs to Send Estimate      
div.thirdContainer
  div.boxTitle
    i.far.fa-circle
    h2.title JOB 
  div.checkList 
    div.itemCont
      div.checkbox
      p.item Job Complete
    div.itemCont
      div.checkbox
      p.item Job #[strong Not] Complete
    div.altCont
      div.checkbox
      p.item My Assignment Complete 
      p.side See Lead Craftsman's Paperwork for Detail
    div.itemCont
      div.checkbox
      p.item Follow up Needed From Office      
    div.itemCont
    div.itemCont
      div.checkbox
      p.item Office Needs to Send Additional Estimate      
div.thirdContainer
  div.boxTitle
    h2.title PAYMENT INFORMATION
    p.item (Attach Check & Receipts)
  div.paymentInfo
    p.paymentContent Invoice #________________ (if commerical) PO/WO #________________
    p.paymentContent INVOICE TOTAL $________________ TOTAL collected $________________
  div.paymentCheckList
    div.checkbox
    p.paymentItemTitle Check
    p.paymentItem Check No:________________
  div.paymentCheckList
    div.checkbox
    p.paymentItemTitle Cash
    p.paymentItem Office Initials Cash Received:________________
  div.paymentCheckList
    div.checkbox
    p.paymentItemTitle Credit Card 
    p.paymentItem   
      i.far.fa-circle  
      Processed Processed in Field
    p.paymentItem   
      i.far.fa-circle  
      Office Office Needs to Process
  div.paymentCheckList
    div.checkbox
    p.paymentItemTitle Receipts
    p.paymentItem   
      i.far.fa-circle  
      Yes Yes
    p.paymentItem   
      i.far.fa-circle  
      No No
  div.paymentCheckList
    div.checkbox
    p.paymentItemTitle OOP  
    p.paymentItem $________________
    div.checkbox
    p.paymentItemTitle Service Charge 
    p.paymentItem $________________
div.thirdContainer
  div.boxTitle
    h2.title NOTES
  div.notes
    p.line
    p.line
    p.line
    p.line
div.officeUse
  i.far.fa-circle
  p.info Invoice Review/Dispatch
  i.far.fa-circle
  p.info Payment Posted/Both
  i.far.fa-circle
  p.info Receipts Entered/QBO 
  i.far.fa-circle
  p.info Time, Mileage, OOP Entered/QBO 
  i.far.fa-circle
  p.info Thank You Not Sent
  p.info #[strong February 2020 &#169 Ace Handyman Franchising, Inc.]
